/* Base */
* {
    box-sizing: border-box;
  }
  body {
    font-family: var(--body-font-family);
    font-size: 16px;
    color: var(--body-color);
    -webkit-font-smoothing: antialiased;
  }

  .subscription_body {
      width: 100%;
      height: 100vh;
  }

  .flex_row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .subscription_container {
      width: 50%;
      margin: 0 auto;
  }

  .subscription_container > h1 {
      text-align: center;
  }

  .subscription_container > p {
      font-weight: 500;
      font-size: 24px;
  }

  .subscription_input {
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
  }

  .subscription_input > input[type="text"] {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    padding: 0 2%;
  }

  .subscription_input > button {
      width: 25%;
      height: 40px;
  }

#error-message {
      color: red;
      margin-top: 20px;
      font-size: 18px;
      font-weight: 500;
  }
